{% extends 'base.html' %}

{% block content %}

{% load static %}
    <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Dev Blog</h1>
                            <span class="subheading">A Blog for Young Devs'</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Main Content-->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if pages %}
                            {% for post in pages %}
                                <!-- Post preview-->
                                <div class="post-preview">
                                    <a href="{% url 'post' post.id %}">
                                        <h2 class="post-title">{{ post.title }}</h2>
                                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                                    </a>
                                    <p class="post-meta">
                                        Posted by
                                        <a href="#!">{{ post.author }}</a>
                                        on {{ post.created_at }}
                                    </p>
                                </div>
                                <!-- Divider-->
                                <hr class="my-4" />
                            {% endfor %}
                        {% endif %}
        
                        <!-- Pager-->
                        
                        <div class="d-flex justify-content-end mb-4">
                            {% if pages.has_other_pages %}
                                <ul class="pagination">
                                {% for i in pages.paginator.page_range %}
                                    {% if pages.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link">{{i}}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                {% if pages.has_next %}
                                    <li class="page-item">
                                    <a href="?page={{ pages.next_page_number }}" class="page-link">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disable">
                                    <a class="page-link">&raquo;</a>
                                    </li>
                                {% endif %}
                                </ul>
                            {% endif %} 
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
{% endblock %}