#header {
    height: 50px;
    background: #10284e;
    color: #fff;
}

#branding h1{
    color:#fff;
}

a:link,
a:visited {
    color: #2bff01;
}

div.breadcrumbs {
    background: #000000;
    color: #10284e;
}

div.breadcrumbs a {
    color: #333;
}

.module caption, .inline-group h2 {
    background: #000000;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284e;
    color: #fff;
}